body {
  background-color: grey; }

.intro {
  text-align: center;
  background: url(../images/screenshot.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -1.5em; }

.head {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #F6861F;
  padding-top: 20em; }

h1 {
  background: rgba(255, 255, 255, 0.7);
  padding: 1em;
  font-weight: bold; }
